
ul.topnav
{
  position: fixed;
  top:0px;
  left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009d4b;
  width:100%;

  box-shadow:0 3px 5px 0 rgba(0,0,0,0.16), 0 3px 10px 0 rgba(0,0,0,0.12);
}

ul.topnav li 
{
  float: left;
}

ul.topnav li a 
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) 
{
  background-color: limegreen;
}

ul.topnav .active 
{
  background-color: limegreen;
}

